*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body{
  width:100%;
  height:100%;
  background: linear-gradient(135deg, #5f7cff, #a69cd5);
  display:flex;
  align-items:center;
  justify-content: center;

}
h1{
  position:absolute;
  top:60px;
  padding: 12px 28px;
  margin-bottom: 20px;
  color: #013b6e;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}
.container{
  
  background: rgba(5, 95, 184, 0.35); 
  backdrop-filter: blur(18px);
  width:500px;
  min-height:250px;
  height:auto;
  border-radius:20px;
  padding:20px;
  box-shadow:0 20px 40px rgba(0,0,0,0.3)
}

#task{
  width:80%;
  height:40px;
  border-radius:5px;
  border:none;
  padding:10px;
  font-size:15px;
  background-color: #ffffff;
 
}

#task :focus{
  border:none;
}

#addTask{
  padding:10px;
  border-radius:4px;
  border:none;
  cursor:pointer;
  font-size:14px;
  background:#435fd8;
  transition: transform 0.3s ease-in-out;
}


#addTask:hover{
  transform:scale(1.04) ;

}
li{
  display:flex;
  align-items:center;
  justify-content: space-between;
  background:#66aaf8;
  border-radius:5px;
  margin:20px;
  padding:4px;
  font-size:15px;
}

li.completed{
  text-decoration: line-through;
  opacity:0.6;
}

.action{
  display:flex;
  gap:5px;
}

.checked{
  border-radius:5px;
  padding: 8px px;
  margin-left:10px;
  border:none;
  transition : transform 0.5s ease-in-out;
}
.checked:hover{
  background:goldenrod;
  transform:scale(1.05);
} 


.edit{
  border-radius:5px;
  padding:8px;
  margin-left:10px;
  border:none;
  transition : transform 0.5s ease-in-out;
}
.edit:hover{
  background:green;
  transform:scale(1.05);
} 

.delete{
  border-radius:5px;
  padding:8px;
  margin-left:10px;
  border:none;
  transition : transform 0.5s ease-in-out;
}
.delete:hover{
  background:#e63939;
  transform:scale(1.05);
} 


.taskItem{
  display:flex;
  padding:10px;
  width:100%;
  justify-content: space-between;
  
}

.task{
  display:flex;
  align-items: center;
}

/* .task.completed p{
  text-decoration: line-through !important;
  color:#054488
} */

.task.completed p{
  text-decoration: line-through ;
  color:#054488 ;
  
}
 
.task input{
  width:20px;
  height:20px;
  margin-right:5px;
}

.taskItem i{
 width:25px;
 height: 25px;
}
.icons{
  cursor:pointer;
  margin:0 5px;
}
